.ng-valid[required] {
  border: none; /* green */
}

.ng-invalid:not(form) {
  border-left: 3px solid #E91E63; /* red */
}

.error-star {
  color: #E91E63;
  font-weight: bold;
}

.error-box {
  padding-left: 17px;
  color: #E91E63;
  font-size: 0.9em;
}

form {
  padding-left: 5px;
}

legend {
  border-bottom: none;
  font-size: 2em;
  margin-bottom: 15px;
}

.input-group-addon {
  background-color: #63D5C4;
  color: #3c3e52;
  border-radius: 4px 0px 0px 4px;
}

select {
  border-radius: 0px 4px 4px 0px;
}

.alert-danger {
  color: #E91E63;
  background-color: #f2dede;
  border-color: #E91E63;
}

.alert {
  padding: 8px;
  margin-bottom: 5px;
}
