.bg-vert-green-gray{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63d5c4+0,63d5c4+50,3c3e52+50 */
  background: #63d5c4; /* Old browsers */
  background: -moz-linear-gradient(left,  #63d5c4 0%, #63d5c4 50%, #3c3e52 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #63d5c4 0%,#63d5c4 50%,#3c3e52 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #63d5c4 0%,#63d5c4 50%,#3c3e52 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63d5c4', endColorstr='#3c3e52',GradientType=1 ); /* IE6-9 */
}

.bg-vert-gray-green{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c3e52+50,63d5c4+50,63d5c4+100 */
  background: #3c3e52; /* Old browsers */
  background: -moz-linear-gradient(left, #3c3e52 50%, #63d5c4 50%, #63d5c4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3c3e52 50%,#63d5c4 50%,#63d5c4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3c3e52 50%,#63d5c4 50%,#63d5c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3e52', endColorstr='#63d5c4',GradientType=1 ); /* IE6-9 */
}

.left {
  display: flex;
  padding-top: 20px;
}

.right {
  display: flex;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .left {
    height: 50%
  }

  .right {
    height: 50%
  }
}
