.leftIcon {
  width: 50%;
  float: left;
}

.rightIcon {
  width: 50%;
  float: right;
}

.full {
  width: 100%;
}

.list-group-item {
  background-color: transparent;
  line-height: 3em;
  transition: all 0.3s ease;
}

.maxWidth-600{
  max-width: 600px;
  margin: auto;
}

/*
UL Elements
*/

.coTi {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4em;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.list-item-left {
  float: left;
  line-height: 2em;
  font-size: 2em;
  margin-right: 5%;
}

.list-item-right {
  float: right;
  font-size: 1em;
  text-align: right;
  width: auto;
}

/*
Skip buttons
*/
.skipButton{
  background-color: transparent;
  width: 100px;
  color: #3C3E52 !important;
  transition: all 0.3s ease;
}

.skipButton:hover{
  color: #E91E63 !important;
}

.mb20 {
  margin-bottom: 20px;
}

.pt11 {
  padding-top: 11px;
}

.chevronRight {
  float: right;
  line-height: 2em;
  width: 10%;
  color: #63D5C4;
  font-size: 2em;
  text-align: center;
}

.centeredH {
  background-color: #3C3E52;
  color: #63D5C4;
  padding: 120px 25px;
  border-radius: 3px;
  margin-top: 95px;
  transition: all 0.4s ease;
}

.centeredH:hover {
  border: 1px solid #3C3E52;
  background-color: transparent;
  color: #3C3E52;
}

.fa {
  color: #63D5C4;
}

li:hover {
  cursor: pointer;
  background-color: #63D5C4;
}

li:hover > i {
  color: #fff;
}

.imgAdobe {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.ajust {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

.list-group-item {
  position: relative;
  height: 80px;
}

.fa-2x {
  line-height: 20px;
}

.active {
  background-color: #63D5C4;
  color: #fff;
  border-bottom-color: #3C3E52;
}

.active:hover {
  background-color: #E91E63;
  border-color: #E91E63;
}

.active > i {
  color: white;
}

.active > span > i {
  color: white;
}
